# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
ENV/
env.bak/
venv.bak/

# Environment variables
.env

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Docker
.dockerignore

# Test and coverage
.pytest_cache/
.coverage
htmlcov/
